.ditle{
    text-align: center;
}.suptitle{justify-content: space-around;
display:flex;
}
.gif{border:2px solid red;padding:6%;}
.footer{
    padding:20px 0;
    text-align: right;
    

    

    


    
}div{
    border:2px dashed red ;
}
.content{justify-content:center;
    display:flex;
    padding:5%;
}