
.icon-picture:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */